<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124317861334-eefdkscmeudv28vv24icis57v8c4eq6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124317861334-eefdkscmeudv28vv24icis57v8c4eq6h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>124317861334-3rscslfe1a8cbi7rnfg91g20nk7lvd6a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDUDL6xJwdo6CvO9Qf8AcxnDf2KjlHtMMk</string>
	<key>GCM_SENDER_ID</key>
	<string>124317861334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.live13</string>
	<key>PROJECT_ID</key>
	<string>live13-15437</string>
	<key>STORAGE_BUCKET</key>
	<string>live13-15437.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124317861334:ios:d9ae7efcd192962cbe9077</string>
</dict>
</plist>